<h1>Add a new hero here!</h1>

    <div class="row">
        <div class="col-md-6">

            <form ng-submit='controller.saveHero()'name ='heroForm' novalidate>

                <div class="form-group">
                    <label for="Alias">Hero Name:</label>
                    <input type="Alias" class='form-control' ng-model=controller.hero.alias ng-required='true'>
                </div>

                <div class="form-group">
                    <label for="name">Secret Identiy Name:</label>
                    <input type="type"  class='form-control' ng-model=controller.hero.name ng-required='true'>
                </div>

                <div class="form-group">
                    <label for="superpowers">SuperPowers:</label>
                    <input type="type"  class='form-control' ng-model=controller.hero.superpowers ng-required='true'>
                </div>

                <div class="form-group">
                    <label for="imgUrl">Image Url:</label>
                    <input type="type"  class='form-control' ng-model=controller.hero.imgUrl ng-required='true'>
                </div>

                <div class="form-group">
                    <input type="submit" class='btn btn-primary btn-block btn-sm' value='Save Hero' ng-disabled='heroForm.$invalid'>
                </div>
            </form>
        </div>

    </div>
